  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.product.title %></td>
      <td><%= item.quantity %>&times;<%= number_to_currency(item.product.price) %></td>
      <td class="item_price">= <%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>
